<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title> 
        {% block stylesheets %}
         <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap" rel="stylesheet">
            <style>
            {{include('vacation_app_css/chart.css')}}
            </style>
        {% endblock %}

        

        
    </head>
    <body>
    {{include('vacation_app_html/chart.html')}}
        

        {% block javascripts %}
       <script>{{include('vacation_app_js/chart.js')}}</script>
       {% endblock %}
    </body>
</html>
