*{
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
  font-family: 'Grandstander', cursive;
  color: #950740;
}
body{
  background-color: #F8E9A1;
}
#container{
  display: flex;
  width: 100%;
  height: 100%;
}
#gap{
  flex: 2;
}
.little-gap{
  flex: 1;
}
.chart_container{
  display:block;
  flex: 9;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;
  
}
#chart{
  flex: 3;
}
#chart_div{
  height: 100%;
}

#title-container{
  flex: 1;
  text-align: center;
}
#title-container #title{
  font-size: 30px;
  text-align: center;
  margin-top: 6vh;
}
#legend{
  flex: 1;
 
}

#panel-container{
  flex: 9;
  display: flex;
  flex-direction: column;
  
} 
#panel-title-container{
  flex: 1;
}
#panel-title{
  font-size: 30px;
  text-align: center;
  margin-top: 6vh;
}


#panel{
  flex: 3;
  background-color:  #EFE2BA;;
  border: solid grey 2px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-size: 30px;
  text-align: center;
  
}
#employee-container{
  flex: 2;
  

  
}
select{
  font-size: 20px;
  background-color: #F8E9A1;
}
#first-day-container{
  flex: 2;
}
#days-container{
  flex: 2;
}
#button-container{
  flex: 2;
}
.submit{
  border: 1px solid#696969;
  padding: 10px 30px;
  color: #8D021F;
  text-decoration: none;
  transition: 0.6s ease;
  font-size: 30px;
  background-color: #F8E9A1;
}
.submit:hover{
  background-color: #800000;
  color: #000;
  border: none;

}
.chart_div {
  display: grid;
  border: 2px solid grey;
  position: relative;
  overflow: hidden;  
  margin-top: 5vh;
   
}
.chart-row {
display: grid;      
grid-template-columns: 70px 1fr;
background-color: #EFE2BA;
}
.chart-row:nth-child(odd) {
  background-color:  #F8E9A1;;
}
.chart-period {
background-color:  #EFE2BA !important;
border-bottom: 2px solid #000; 
grid-template-columns: 70px repeat(12, 1fr);
}
.chart-lines {
position: absolute;
height: 100%;
width: 100%;
background-color: transparent;
grid-template-columns: 70px repeat(12, 1fr);

}
.chart-period > span {    
text-align: center;
font-size: 13px;
align-self: center;
font-weight: bold;
padding: 15px 3px;    
color: grey;
}
.chart-lines > span {
display: block;
border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.chart-row-item {
  color: grey;
background-color:#EFE2BA;
border: 1px solid  #000;
border-top: 0;
border-left: 0;      
padding: 20px 0;
font-size: 15px;
font-weight: bold;
text-align: center;
} 

.chart-row-bars {
list-style: none;
display: grid;
padding: 15px 0;
margin: 0;
grid-template-columns: repeat(12, 1fr);
grid-gap: 10px 0;
border-bottom: 1px solid  #000;
}
li {
text-align: left;
font-size: 15px;
min-height: 15px;
background-color: #708090;
padding: 5px 15px;
overflow: hidden;
position: relative;
cursor: pointer;
border-radius: 15px;
}

   
   @media (min-width:1200px){

  } 
  @media (max-width:1199px){
    #container{
      flex-direction: column;
      
    }
    #panel{
      font-size: 18px;
    }
    .submit{
      font-size: 18px;
    }
    #panel-title{
      margin-bottom: 2vh;
    }
    select{
      font-size: 18px;
    }
    #panel{
      width: 99%;
      margin: auto;
    }
    
} 
@media (max-width:991px){
  
  
}
@media (max-width:767px){

 
}



